torrequest==0.1.0
pytz==2020.4
slackeventsapi
flask
gunicorn==19.5.0
requests==2.24.0
slack-sdk==3.0.0
oauth2client
gspread
beautifulsoup4
lxml==4.6.2
pytest==6.0.1
flask_limiter
cfscrape==2.1.1
google-cloud-firestore==2.0.2
google==3.0.0
firebase-admin==4.5.0
google-auth==1.24.0