<!DOCTYPE html>
<html lang="RU-ru">
<head>
    <meta charset="utf-8">
    <script defer src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-AMS_SVG-full">
    </script>
    <title>Команды LaTeX</title>
    <link href="{{url_for('static', filename='latex_page.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            SVG: {
                styles: {

                    ".MathJax_SVG_Display": {
                        "text-align": "left !important"
                    }
                }
            },
            TeX: {
                extensions: ["mhchem.js", "cancel.js", "enclose.js"]
            }
        })
    </script>
    <script>
        let QUEUE = MathJax.Hub.queue;  // shorthand for the queue
        let math = null;                // the element jax for the math output.
        let currentTimeoutIds = [];

        //
        //  Get the element jax when MathJax has produced it.
        //
        QUEUE.Push(function () {
            math = MathJax.Hub.getAllJax("parsed-formula")[0];
        });

        const onInputHandler = (textRef) => {
            if (currentTimeoutIds.length !== 0) {
                currentTimeoutIds.forEach(item => clearTimeout(item));
                currentTimeoutIds = []
            }
            // Save in local storage
            localStorage.setItem("current_formula", textRef.value)
            currentTimeoutIds = [...currentTimeoutIds, setTimeout(() => QUEUE.Push(["Text", math, textRef.value]), 1 * 1000)];
        }

        window.onload = () => {
            document.getElementsByTagName('textarea')[0].textContent = localStorage.getItem("current_formula")
        }
    </script>
</head>
<body style="background-color: rgb(36, 39, 43);">
    <div class="ui form" style="display: flex; flex-direction: column; row-gap: 1rem; width: 75%;">
        <div class="preview">
            <div id="parsed-formula">
                $$$$
            </div>
            <div class="preview_text">
                Просмотр
            </div>
        </div>
        <div class="field">
            <textarea style="margin-top: 0px; 
                             margin-bottom: 0px; 
                             height: 112px; 
                             max-height: unset;
                             border-radius: 20px;
                             background-color: rgb(87, 87, 92); 
                             font-size: 16px;
                             color: blanchedalmond;" 
                      placeholder="Напишите в уравнении" oninput="onInputHandler(this)"></textarea>
        </div>
    </div>
</body>
</html>